@media (min-width: 992px) {
	.fallowus {
		&__img1 {
			&--bg {
				i {
					font-size: 4rem;
					color: #f4d2b9;
				}

				&--heading {
					font-size: 4rem;
					text-transform: uppercase;
				}
			}
		}
	}

	.header {
		&__bgc {
			&--heading {
				font-size: 4rem;
			}
			&--text {
				font-size: 4rem;
			}
		}
	}

	.ourstory {
		&__box {
			&--heading {
				font-size: 4rem;
			}
			&--text {
				font-size: 2rem;
			}
		}
	}
	.headersmall {
		display: none;
	}
	.headerbig {
		display: flex;
		width: 100%;
		height: 100vh;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 0;
		overflow: hidden;
		margin: 0;

		&__img1 {
			height: 100%;
			width: 50%;
			background-size: cover;
			background-position: center;
			object-fit: cover;
			z-index: 0;
		}
		&__img2 {
			position: absolute;
			top: 190px;
			height: 70%;
			width: 30%;
			border-top-left-radius: 70%;
			border-top-right-radius: 70%;
			z-index: 10;
			object-fit: cover;
			background-color: #0000007a;
			box-shadow: 0 0 15px 5px #0000007a;
			::after {
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 1;
			}
		}
		&__img3 {
			height: 100%;
			width: 50%;
			object-fit: cover;
			z-index: 0;
		}
		&__text {
			position: absolute;
			display: block;
			left: 0;
			bottom: 0;
			width: 50%;
			height: 100px;
			background-color: rgba(244, 210, 185, 0.9);
			z-index: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			flex-direction: column;

			&--heading {
				font-size: 1.5rem;
				font-weight: bold;
				text-transform: uppercase;
				color: #000;
				font-family: 'Raleway', serif;
			}

			&--subtext {
				font-size: 2.5rem;
				font-weight: 400;
				color: #000;
				font-family: 'Raleway', serif;
			}
		}
	}
	.ourstorysmall {
		display: none;
	}
	.ourstorybig {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 80vh;
		padding: 0;
		background-color: #fcf8ef;

		&__img {
			width: 30%;
			height: 70%;
			background-image: url('../assets/brownNails.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
            margin-right: 100px;
		}
		&__box {
			width: 50%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;

			box-sizing: border-box;
			&--heading {
				font-size: 2em;
				font-weight: bold;
				margin-bottom: 1em;
				color: #d8b192;
				font-family: 'Raleway', serif;
			}
			&--text {
				font-size: 1.2em;
				margin-bottom: 1.5em;
				font-family: 'Raleway', serif;
			}
			&--btn {
				cursor: pointer;
				width: 150px;
				height: 50px;
				color: #d8b192;
				background-color: rgba(50, 50, 50, 0.514);
				border: 1px solid #f1e9d6;
				border-radius: 10px;
				transition: all 0.3s ease-in-out;
				font-family: serif;
				&:hover {
					width: 170px;
					height: 60px;
					color: #323232;
					background-color: #d8b192;
					font-family: serif;
				}
			}
		}
	}
}
