@media (max-width: 576px) {
	.whatwedo {
		&__box {
			grid-template-columns: 1fr;
		}
	}
	.contact {
		&__box {
			display: flex;
			flex-direction: column;
			gap: 1em;
			width: 90%;
			margin: 2em auto;
		}
		&__heading {
			font-size: 2rem;
		}
	}
	.fallowus {
		&__img1 {
			&--bg {
				a i {
					font-size: 4rem;
				}
				h2 {
					font-size: 2rem;
				}
			}
		}
	}
    .headerbig{
        display: none;
    }
    
	
}
